.navbar {
  box-shadow: 10px 0px 8px 5px #888888;
  z-index: 10;
}

.navbar-toggle {
  background-image: url('../images/menu.png');
  background-repeat: no-repeat;
  padding: 0px !important;
  cursor:pointer;
}

.navbar-right img{
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.navbar-right img:hover{
  opacity: 0.8;
}

.navbar-toggle {
  visibility: hidden;
  width: 0px;
}

.navbar-center {
  text-align: center;
}

.navbar-right {
  float: right;
}

.navbar-brand {
  position: absolute;
  top: 4px;
  margin-left: 4vw;
}

#nearby-count {
  margin-left: 0.2em;
}

#account-dropdown {
  text-align: center;
  margin-left: -170px;
  margin-top: 16px;
  box-shadow: 10px 0px 8px 0px #888888;
  z-index: 9;
  border-radius: 0%;

  width: 220px;
}

#logout-email {
  margin: 5px;
  font-size: 0.7em;
  font-weight: bold;
}


/* The toggle is visible on narrow screens, when sidebar is collapsed*/
@media screen and (max-width:900px) {
  .navbar-toggle {
    visibility: visible;
    width: 2em !important;
    height: 2em !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-right: 4px;
  }
  .navbar-brand {
    margin-left: 0;
  }
}
